*.pyc
*.swp
*.pyd
*.pdb
*.ilk
*.dll
.DS_Store
bld.bat
build
build-dev
dist
dynd.egg-info
build_cuda
libdynd
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
.vagrant/

cmake/src/
cmake/cython_debug/
cmake/dynd._pydynd.cxx
