*.pyc
*.swp
.DS_Store
bld.bat
build
dist
dynd.egg-info
build_cuda
libraries/libdynd
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

cmake/src/
cmake/cython_debug/
cmake/dynd._pydynd.cxx
