# See https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Mark Wiebe <mwiebe@continuum.io> Mark Wiebe <mwwiebe@gmail.com>
Mark Wiebe <mwiebe@continuum.io> Mark <mwwiebe@gmail.com>
Damien Garaud <damien.garaud@gmail.com> Damien Garaud <damien.garaud@logilab.fr>
T.J. Alumbaugh <tj.alumbaugh@continuum.io> talumbau <tj.alumbaugh@continuum.io>
